<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - <%= room %></title>
	<link rel="stylesheet" href="/css/chatroomStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<script>
		'use strict';
		$(()=> {
			let socket = io('<%= host %>' + '/chatter', {
				transports: ['websocket']
			});
			let roomID = '<%= roomID %>';
			let user = '<%= user.fullName %>';
			let userPic = '<%= user.profilePic %>' || '';

			let activeUsers = '';
			let usersListElement = $('.chatUsers');
			let messagesElement = $('.chatMessages');
			let inputElement = $('input[name=userInput]');

			socket.on('connect', ()=> {
				socket.emit('join', {
					roomID,
					user,
					userPic
				});
			});

			socket.on('updateUsersList', (data) => {
				var parsedData = JSON.parse(data);
				for(let user of parsedData) {
					activeUsers += `<div class="userBlock">
											<div class="userPic"><img src="${user.userPic ? user.userPic : null }" alt=""></div>
											<div class="cuserName">${user.user}</div>
										</div>`;
				}

				usersListElement.html('').html(activeUsers);
				activeUsers = '';
			});
			
			socket.on('updateNewMessage', (data) => {
				let parsedData = JSON.parse(data);
				UpdateNewMessage(parsedData.userPic, parsedData.message);
			})
			inputElement.on('keyup', function(e) {
				e.preventDefault();
				let message = $(this).val();

				if(e.which === 13 && message !== '') {
					socket.emit('newMessage', {
						roomID,
						user,
						userPic,
						message
					});

					UpdateNewMessage(userPic, message);
					$(this).val('');
				}
			})

			function UpdateNewMessage(pic, msg) {
				let msgTemplate = `<div class="chatBlock">
					<div class="userPic"><img src=${pic}></div>
					<div class="chatMsg">${msg}</div>
				</div>	`;

				$(msgTemplate).hide().prependTo(messagesElement).slideDown(300);
			}

		})
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | <%= room %></h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="<%= user.fullName %>"></div>
			<p class="userName"><%= user.fullName %></p>
			<a href="/rooms" id="roomsBtn">Rooms</a>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="chatListDiv">
			<div class="chatMessagesPanel">
				<div class="chatMessages">
				<!-- Loop this for chat messages -->
				<!-- loop end -->
				</div>
				<div class="typePanel">
					<input type="text" name="userInput" placeholder="Type here and press enter">
					<a href="#" id="uploadFile" class="fileUploadBtn">Photo</a>
				</div>
			</div>
			<div class="chatUsers">
			</div>
		</div>
	</div>
</body>
</html>